<strong>Hello, {{ deliveryman }}</strong>
<p> One of your deliveries have been canceled, more details below: </p>

<br />
  <strong> Description about the cancellation: </strong>
<p>
  {{ description }}
</p>
<br />

<strong>See about the details:</strong> <br />
<p>
  <strong> Product: </strong> {{ product }} <br />
  <strong>Product ID: </strong> {{ id }} <br />
</p>